# Ignore output directory
output/

# Ignore Python cache directories
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
.venv/

# uv
.uv/
uv.lock

# Ignore coverage
.coverage
htmlcov/

# Ignore pytests cache directories
.pytest_cache/

# Ignore mypy directory
.mypy_cache/

# Ignore egg-info directory
gaceta_oficial_crawler.egg-info/